

<div id='container' ng-controller='LinksController'>


  <div class='navigation'>
  <ul>
    <li><a href='#/links' class='index'>All Links</a></li>
    <li><a href='#/shorten' class='create'>Shorten</a></li>
    <li><a href='#/signin' class='logout'>Logout</a></li>
  </ul>
  </div>

  <input type='text' ng-model='search'/>
  <div class='info' ng-repeat='link in data.links | orderBy: "visits" | filter:search'>
    <img src='assets/redirect_icon.png'/>
    <div class='title'>{{link.title}}</div>
    <div class='original'>{{link.url}}</div>
    <a href='{{link.base_url}}/{{link.code}}'>{{link.base_url}}/{{link.code}}</a>
    <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
  </div>


</div>



<!-- {
    "_id": "568814bb16dd69920a90e8bd",
    "code": "738dd",
    "url": "http://www.google.com",
    "visits": 0,
    "base_url": "http://localhost:3000",
    "title": "Google",
    "__v": 0
  } -->

